$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #0fff44;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;

.button-link {
    text-decoration: none;
    color: inherit;
    padding: 0.4rem 0.6rem;
    border-radius: 10px;
    background-color: $color-primary;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.button-link.button-has-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-has-icon img {
    max-width: 20px;
}

.button-group {
    display: flex;

    :first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        background-color: inherit;
    }

    :last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding-left: 0;
    }

    &:focus,
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

$primary-color: rgb(5, 144, 230);
$secondary-color: rgb(9, 77, 180);
$background-light: rgb(234, 234, 234);
$text-dark: black;
$text-light: white;
$shadow-color: rgba(190, 190, 190, 0.5);

html {
    background-color: $background-light;
}

.login-wrapper,
.register-wrapper {
    padding: 20px;
    margin: 100px auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 3px $shadow-color;
    background-color: white;

    .arrow {
        border-radius: 50%;
        background-color: lightgray;
        padding: 1px 6px;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;

        .form-header {
            width: 100%;

            .arrow {
                float: left;
                background-color: var(--primary-color);

                a {
                    border: none;
                    color: var(--bs-white);
                    i {
                        border: 1px solid transparent;
                        padding: 3px 4px;
                        border-radius: 50%;
                        background-color: #00b2ff;
                        color: white;
                    }
                }
            }

            .login-logo {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 90px;
                gap: 2rem;

                img {
                    max-width: 100px;
                }
            }
        }

        .form-input {
            width: 100%;
            position: relative;
            height: 50px;

            input {
                padding: 20px 10px 10px 15px;
                width: 100%;
                height: 100%;
                font-size: 16px;
                color: $text-dark;
                border-radius: 10px;
                border: none;
                background-color: #ebebeb;
                outline: none;

                &:focus+.label-name .content-name,
                &:valid+.label-name .content-name {
                    transform: translateY(-130%);
                    font-size: 14px;
                    left: 3%;
                    background-color: #dddddd;
                    font-weight: 500;
                    color: $text-dark;
                    opacity: 1;
                    padding: 0 10px;
                }
            }

            .login-btn {
                position: absolute;
                top: 28%;
                right: 0;
                margin-right: 10px;
            }

            .field-icon {
                margin-right: 10px;
            }

            .login-btn-w {
                float: right;

                button {
                    background-color: unset;
                    border: none;

                    i {
                        border: 1px solid transparent;
                        padding: 3px 4px;
                        border-radius: 50%;
                        background-color: #c0c0c0;
                    }
                }
            }

            .label-name {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                padding: 8px;

                .content-name {
                    position: absolute;
                    bottom: 0;
                    left: 3%;
                    padding: 2px;
                    opacity: 0.5;
                    transition: all 0.5s ease;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .rs-pass a {
        margin-top: 10px;
        display: block;
        text-decoration: none;
        font-style: italic;
        color: #38b6ff;
        text-align: right;
        font-size: 12px;
    }

    .form-footer {
        text-align: center;
        font-size: 12px;

        .login-other-link {
            p {
                color: #c0c0c0;
            }

            a {
                text-decoration: none;
            }

            .login-methods {
                display: flex;
                gap: 10px;
                justify-content: center;

                button {
                    position: relative;
                    background-color: #ebecec;
                    padding: 6px 8px;
                    border-radius: 5px;
                    border: none;
                }

                img {
                    max-width: 24px;
                }
            }
        }

        .footer-link a {
            color: #38b6ff;
        }

    }
}

#header {
    width: 100%;
    display: flex;
    padding: 14px 18px;
    background-color: white;
    justify-content: space-between;

    .logo {
        width: 5%;

        img {
            width: 100%;
        }
    }

    .nav-tabs {
        gap: 50px;
    }
}

.login-button {
    width: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: max-content;
    border-radius: 400px;
    padding: 8px 10px;
    background-color: $primary-color;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;

    i {
        margin-top: 2px;
        font-size: 28px;
        color: $text-light;
    }

    .login-w {
        font-size: 20px;
        display: none;
        margin-left: 0;
        transition: 1s;

        a {
            text-decoration: none;
            color: $text-light;
            font-weight: 700;
        }
    }

    &:hover {
        width: 70%;
        background-color: $secondary-color;

        .login-w {
            display: block;
        }
    }
}


#footer {
    display: flex;
    padding: 18px 24px;
    flex-direction: row;
    justify-content: space-between;
    background-color: $background-light;
    margin-top: 40px;

    .footer-title {
        display: flex;
    }

    .footer-logo {
        width: 16%;
        margin-left: 8%;

        img {
            width: 100%;
        }
    }

    .footer-map {
        width: 40%;
    }

    .footer-content {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding-bottom: 4px;
        border-bottom: 1px solid $text-dark;
        margin-bottom: 10px;

        i {
            margin-right: 10px;
        }
    }

    .social-icon {
        display: flex;
        gap: 3%;

        i {
            font-size: 30px;
            color: $text-dark;
        }
    }
}

// --------------------------------------------------
// MEDIA QUERIES (RESPONSIVE DESIGN)
// --------------------------------------------------
@media (max-width: 768px) {
    #header {
        flex-direction: column;

        .logo {
            width: 20%;
        }

        .nav-tabs {
            flex-direction: column;
            gap: 20px;
        }
    }

    .login-button {
        width: auto;
        padding: 6px 8px;
    }

}

nav {
    ul.pagination {
        gap: 10px;

        --bs-pagination-border-radius: 10px;

        li a {
            border-radius: 10px;
            background-color: var(--bs-white);
            color: var(--primary-color);

            &:hover {
                background-color: var(--primary-color);
                color: var(--bs-white);
            }
        }

        li.active a {
            border: none;
            color: var(--bs-white);
            background-color: var(--primary-color);
        }
    }
}

.btn-primary {
    background-color: var(--primary-color);
    border: none;

    &:hover {
        opacity: 0.8;
        transition: .3s ease-in-out;
    }
}

.toast.show {
    opacity: 0;
    animation: fadeIn .6s forwards;
    transition: .3s ease-in-out;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
